.grid {
	border: 1px black solid;
	border-right: 0;
	border-top: 0;
	width: 50px;
	height: 50px;
	display: table-cell;
}

.panel {
	margin: 0;
}

.grid1-10 {
	border: 1px black solid;
}

.grid2-10 {
	border: 1px black solid;
	border-top: 0;
}

.grid3-10 {
	border: 1px black solid;
	border-top: 0;
}

.grid4-10 {
	border: 1px black solid;
	border-top: 0;
}

.grid5-10 {
	border: 1px black solid;
	border-top: 0;
}

.grid1-1 {
	border-top: 1px black solid;
}

.grid1-2 {
	border-top: 1px black solid;
}

.grid1-3 {
	border-top: 1px black solid;
}

.grid1-4 {
	border-top: 1px black solid;
}

.grid1-5 {
	border-top: 1px black solid;
}

.grid1-6 {
	border-top: 1px black solid;
}

.grid1-7 {
	border-top: 1px black solid;
}

.grid1-8 {
	border-top: 1px black solid;
}

.grid1-9 {
	border-top: 1px black solid;
}
